* {
  box-sizing: border-box;
}

html,
body {
  height: 100ch;
  width: 100cw;
}

body {
  display: flex;
  direction: row;
}

body > div:nth-of-type(1) {
  background-image: url("green-leaf.avif");
  background-repeat: no-repeat;
}

body > div:nth-of-type(2) {
  flex-grow: 1;
}

h1#title {
  display: flex;
  background-color: #00000099;
  max-height: 15vh;
  margin-top: 30vh;
  align-items: center;
}

h1#title img {
  max-width: 10vw;
  object-fit: contain;
  margin-left: 1em;
  padding: 0.5em 0;
}

h1#title span {
  color: white;
  flex-grow: 1;
  padding: 0 0.5em;
}

input {
  max-width: 8rem;
}

#name {
  display: flex;
  justify-content: space-between;
}
