@import url(https://fonts.google.com/specimen/Roboto);
@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  direction: row;
}
body > div {
  height: 100vh;
}

body > div:nth-of-type(1) {
  background-image: url("green-leaf.avif");
  background-repeat: no-repeat;
  width: 40vw;
  background-size: cover;
}

body > div:nth-of-type(2) {
  width: 60vw;
}

h1#title {
  display: flex;
  background-color: #00000099;
  max-height: 30vh;
  margin-top: 30vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h1#title img {
  max-width: 10vw;
  object-fit: contain;
  margin-left: 1em;
  padding: 0.5em 0;
  height: 180px;
}

h1#title span {
  color: white;
  flex-grow: 0;
  /* padding: 0 0.5em; */
  font-size: 8rem;
  font-family: "Norse Bold", sans-serif;
}

input {
  max-width: 100rem;
  width: 20rem;
  border-color: #8f7c7a45;
  height: 2rem;
  border-radius: 5px;
  text-indent: 5px;
}

label {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.fieldset-header {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

fieldset,
fieldset section {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media (max-width: 25em) {
  fieldset,
  fieldset section {
    flex-direction: column;
  }
}

form {
  padding: 0.5rem 0;
  font-family: "Roboto", sans-serif;
}

.errorable {
  flex-direction: column;
}

fieldset p {
  margin-top: -1.25em;
}

fieldset.errored p {
  color: red;
}

input:invalid,
fieldset.errored input {
  background-color: pink;
  border-color: red;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.errorable p {
  display: none;
}

.first-paragraph {
  margin-top: 25%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  max-width: 700px;
  margin-bottom: 0;
}

.second-paragraph {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 0;
}

.third-paragraph {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

button {
  padding: 15px 60px;
  margin-left: 1rem;
  margin-top: 3%;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #596d48;
  border-radius: 15px;
  box-shadow: 5px;
}

button + p {
  margin-top: 1%;
  margin-left: 1rem;
}

.container-right {
  background-color: #eee;
}

.form__wrapper {
  background-color: white;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}
